

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.brand-name {
  padding: 20px;
  /* Forzamos el color de fondo usando la variable */
  background-color: var(--primary-color);
  border-bottom: solid 1px var(--secondary-color);
}

.brand-name h1 {
  /* Si el fondo es azul, el texto debe ser blanco */
  color: white;
  font-size: 24px;
}

.content {
  padding: 20px;
}

.brand-name a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit;       /* Mantiene el color del h1 */
}
