.results {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 20px;
}

.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  padding: 20px;
}

.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.listing-heading {
  color: var(--primary-color);
  padding: 20px 20px 0 20px;
}

.listing-location {
  padding: 10px 20px;
}

.listing a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}
