:root {
  --primary-color: #605DC8;
  --secondary-color: #f1f1f1;
  --accent-color: #e8e7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}
